@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.features-wrapper{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:80px 0;
}

/* container centered */

.features-container{
    width:800px;
    display:flex;
    flex-direction:column;
    gap:40px;
}

.features-container p{
    font-family: "Roboto", sans-serif;
}
/* rows */

.features-row{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;
    justify-items:center;
}

/* feature item */

.feature-box{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;
    text-align:center;
}

/* icons */

.box-img{
    width:50px;
    height:50px;
    object-fit:contain;
}

/* text */

.feature-box p{
    font-size:14px;
    font-weight:500;
    margin:0;
}

/* ---------- Tablet ---------- */

@media (max-width:1024px){

  .features-container{
    width:90%;
  }

  .box-img{
    width:35px;
    height:35px;
  }

  .feature-box p{
    font-size:15px;
  }

}


/* ---------- Mobile ---------- */

@media (max-width:600px){

 

  .features-container{
    width:90%;
  }

  .box-img{
    width:35px;
    height:35px;
  }

  .feature-box p{
    font-size:13px;
  }

}